#This the the canonical lab .gitignore file

#ignore temp files
*~
output.txt
.texpadtmp/

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
*.o

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#ignore junk files from running the WACC compiler
*.s
*.ast

#ignore the WACC temporary test_files copy
testing/test_files/

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

#ignore IDEA
.idea
out/
*.iml

#ignore compiled src
src/antlr

#ignore test files
test_bin/
test_compile_output
