src/antlr/BasicLexer.java
src/antlr/BasicParser.java
src/antlr/BasicParserBaseVisitor.java
src/antlr/BasicParserVisitor.java
src/wacc/ast/ASTNode.java
src/wacc/ast/BinaryOperator.java
src/wacc/ast/FuncNode.java
src/wacc/ast/IntNode.java
src/wacc/ast/ProgramNode.java
src/wacc/ast/StatNode.java
src/wacc/ast/StatTypeEnum.java
src/wacc/ast/UnaryOperator.java
src/wacc/Main.java
src/wacc/symbolTable/SymbolTable.java
src/wacc/symbolTable/TypeEnum.java
